.bg-light_red {
    background-color: #CC6666;
}

.bg-light_orange {
    background-color: #CC8066;
}

.bg-light_yellow {
    background-color: #CCCC66;
}

.bg-light_green {
    background-color: #80CC66;
}

.bg-light_blue {
    background-color: #6680CC;
}

.bg-light_purple {
    background-color: #8066CC;
}