{%extends "base.html" %}

{% block content %}
  <br>

  <div class="d-flex justify-content-center w-100">
    <form method="POST" class="form-inline w-50">
      <input class="form-control form-control-lg" type="text" name="title" placeholder="New note">
    </form>
  </div>
    
  <br>
  
  <div class="row m-3">
    {% for note in notes %}
    <div class="col col-lg-auto">
      {% if note.tag.background_color == "light_red" %}
        <div class="card text-white bg-light_red mb-2 w-auto" style="width: 18rem;">
      {% elif note.tag.background_color == "light_orange" %}
        <div class="card text-white bg-light_orange mb-2 w-auto" style="width: 18rem;">
      {% elif note.tag.background_color == "light_yellow" %}
        <div class="card text-white bg-light_yellow mb-2 w-auto" style="width: 18rem;">
      {% elif note.tag.background_color == "light_green" %}
        <div class="card text-white bg-light_green mb-2 w-auto" style="width: 18rem;">
      {% elif note.tag.background_color == "light_blue" %}
        <div class="card text-white bg-light_blue mb-2 w-auto" style="width: 18rem;">
      {% elif note.tag.background_color == "light_purple" %}
        <div class="card text-white bg-light_purple mb-2 w-auto" style="width: 18rem;">
      {% else %}
        <div class="card" style="width: 18rem;">
      {% endif %}
        <div class="card-body">
          <h5 class="bg-white opacity-25 text-black w-auto d-inline p-1 rounded">{{ note.tag.name }}</h5>
          <h5 class="card-title d-inline">{{ note.title[note.title_index:] }}</h5>
          <p class="card-text">{{ note.body }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}