{%extends "base.html" %}

{% block content %}
<div class="row m-3">
    <div class="col col-lg-auto my-2">
        <div class="card h-100" style="width: 18rem;">
            <div class="card-body">
                <div class="form-group">
                    <form method="POST">
                        <input type="hidden" name="post_type" value="new_tag">
                        <input type="text" class="form-control" name="tag_name" placeholder="New Tag" onchange="this.form.submit()">
                    </form>
                </div>
                <br>
            </div>
        </div>
    </div>
    {% for tag in tags_list %}
    <div class="col col-lg-auto my-2">
        {% if tag.bg_color == "light_red" %}
        <div class="card text-white bg-light_red mb-2 w-auto h-100" style="width: 18rem;">
        {% elif tag.bg_color == "light_orange" %}
        <div class="card text-white bg-light_orange mb-2 w-auto h-100" style="width: 18rem;">
        {% elif tag.bg_color == "light_yellow" %}
        <div class="card text-white bg-light_yellow mb-2 w-auto h-100" style="width: 18rem;">
        {% elif tag.bg_color == "light_green" %}
        <div class="card text-white bg-light_green mb-2 w-auto h-100" style="width: 18rem;">
        {% elif tag.bg_color == "light_blue" %}
        <div class="card text-white bg-light_blue mb-2 w-auto h-100" style="width: 18rem;">
        {% elif tag.bg_color == "light_purple" %}
        <div class="card text-white bg-light_purple mb-2 w-auto h-100" style="width: 18rem;">
        {% else %}
        <div class="card h-100" style="width: 18rem;">
        {% endif %}
            <div class="card-body">
                <div class="form-group">
                    <form method="POST">
                        <input type="hidden" name="post_type" value="update_tag">
                        <input type="hidden" name="tag_id" value="{{ tag.id }}">
                        <input type="text" class="form-control" name="new_tag_name" value="{{ tag.tag_name }}" onchange="this.form.submit()">
                        <br>
                        <select class="form-control" name="new_bg_color" onchange="this.form.submit()">
                            <option selected>Select background color</option>
                            {% for color in bg_colors %}
                                {% if tag.bg_color == color %}
                                    <option selected>{{ color }}</option>
                                {% else %}
                                    <option>{{ color }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </form>
                </div>
                <br>
                <form method="POST">
                    <input type="hidden" name="post_type" value="delete_tag">
                    <input type="hidden" name="tag_id" value="{{ tag.id }}">
                    <button type="submit" class="btn btn-secondary d-inline">Remove</button>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}